$primary-color: #5cdb95;
$dark-color:#343a40;
$light-color:#f4f4f4;
$danger-color: #dc3545;
$success-olor:#28a745;
$max-width: 1100px;

#navbar{
    z-index: 100;
}

//Set text color based on background
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}

// set background & color text
@mixin set-background($color) {
    background-color: $primary-color;
    color: set-text-color($color);

}

.scrolled {
    background: #1B242F;
    opacity: 1;
}

.navbar {
    transition: all 1s ease 0s;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1.7rem;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
 

    a {
        text-decoration: none;
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover {
            color: $primary-color;
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
        display: flex;
    }

    img {
        width: 100%;
    }
}

.bg {
    &-primary {
        background-color: $primary-color;
        color: #fff;

    }
}

.nav-item > .active{
    color: #5cdb95;
}

@media (max-width: 924px){
    .navbar{
        font-size: 0.9rem;
    }
}