.project-contain {
  padding-bottom: 100px;
  background: #ECF0F1;
}

.projectintro {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

}



.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-box {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectobject {
  position: relative;
  width: 380px;
  height: 270px;
  margin: 0.7rem 0.7rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.4);
  background-color: #293347;
  overflow: hidden;
  border-radius: 12px;
  text-align: center;
  animation-delay: 0.2s;

  .imgdisplay {
    position: relative;
    width: 380px;
    height: 270px;
    background-size: cover;
    background-position: center;
    transition: .2s ease-in-out;
    border-radius: 12px;
  }

  .show-desc {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    .project-title {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .btn {

      margin: 0 auto;
      font-size: 18px;
      padding: 0.9rem 1.4rem 0.9rem 1.4rem;
      font-weight: 400;
      border-width: 2px;
      color: #fff;
      background-color: transparent;
      border-radius: 290486px;
      border: 2px solid #5cdb95;
      margin-top: 20px;
      font-size: 16px;
      font-weight: bold;
      transition: .3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #5cdb95;
      }
    }

    button:focus {
      outline: 0;
    }
  }

  &:hover {
    .imgdisplay {
      opacity: 0;
      filter: blur(5px)
    }

    .show-desc {
      top: 50%;
      opacity: 1;
    }
  }

}